@model CharacterSheet.MVC.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CharID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CharID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CampID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CampID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxHitPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxHitPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BaseAttackBonus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BaseAttackBonus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alignment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alignment)
        </dd>
        @foreach (var item in Model.SkillList)
        {
            <dd>
                @item.Key : @item.Value
            </dd>

        }
        @foreach (var item in Model.FeatList)
        {
            <dd>
                @item.Key : @item.Value
            </dd>

        }
        @foreach (var item in Model.SpellsKnown)
        {
            <dd>
                @item.Name
            </dd>

        }
    </dl>
</div>
<div>
    <p id="dieresult"></p>
    <button id="rollbutton">Roll D20</button>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CharID }) |
    <a asp-action="Index">Back to List</a>
</div>
