@model CharacterSheet.MVC.Models.Campaign

@{
    ViewData["Title"] = "Details";
}

<h1>Campaign Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Characters
        </dt>
        @foreach (var item in (IEnumerable<Character>)ViewData["Characters"])
        {
            <dd class="col-sm-10">
                @item.Name

                @Html.ActionLink("Details", "Details", "Character", new { id = item.CharID }) |
            </dd>
            <dd>
                @item.AC[0]
            </dd>
            <dd onclick="rollDice(20,@(item.BaseAttackBonus+item.AttributeBonuses["Strength"]),1,'@item.Name Attack Roll')">
                @item.BaseAttackBonus
            </dd>
            <dd  onclick="rollDice(20,@item.EffectiveSavingThrows["Fort"],1,'Fort Save')">
                Fort @item.EffectiveSavingThrows["Fort"]
            </dd>
            <dd onclick="rollDice(20,@item.EffectiveSavingThrows["Will"],1,'Fort Save')">
                Will @item.EffectiveSavingThrows["Will"]
            </dd>
            <dd onclick="rollDice(20,@item.EffectiveSavingThrows["Reflex"],1,'Fort Save')">
                Ref @item.EffectiveSavingThrows["Reflex"]
            </dd>
        }
    </dl>
</div>
<div>
    <p id="dieresult"></p>
    <button id="rollbutton" onclick="rollDice()">Roll D20</button>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CampID }) |
    <a asp-action="Index">Back to List</a>
</div>
