@model CharacterSheet.MVC.Models.Campaign

@{
    ViewData["Title"] = "Details";
}

<h1>Campaign Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Characters
        </dt>
    </dl>
</div>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Ac
        </th>
        <th>
            BaB
        </th>
        <th>
            Fort Save
        </th>
        <th>
            Will Save
        </th>
        <th>
            Reflex Save
        </th>
        <th>
            Details
        </th>
    </tr>
  @foreach (var item in (IEnumerable<Character>)ViewData["Characters"])
   {
    <tr>
        <td class="col-sm-10">
            @item.Name

        </td>
        <td>
            @item.AC[0]
        </td>
        <td onclick="rollDice(20,@(item.BaseAttackBonus+item.AttributeBonuses["Strength"]),1,'@item.Name Attack Roll')">
            @item.BaseAttackBonus
        </td>
        <td onclick="rollDice(20,@item.EffectiveSavingThrows["Fort"],1,'Fort Save')">
            Fort @item.EffectiveSavingThrows["Fort"]
        </td>
        <td onclick="rollDice(20,@item.EffectiveSavingThrows["Will"],1,'Will Save')">
            Will @item.EffectiveSavingThrows["Will"]
        </td>
        <td onclick="rollDice(20,@item.EffectiveSavingThrows["Reflex"],1,'Reflex Save')">
            Ref @item.EffectiveSavingThrows["Reflex"]
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Character", new { id = item.CharID }) |

        </td>
    </tr>
    }
    
</table>
<div>
    <p id="dieresult"></p>
    <button id="rollbutton" onclick="rollDice()">Roll D20</button>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CampID }) |
    <a asp-action="Index">Back to List</a>
</div>
