@model CharacterSheet.MVC.Models.Character

@{
    ViewData["Title"] = "RemoveChar";
}



<h3>Are you sure you want to remove this character?</h3>
<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxHitPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxHitPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseAttackBonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseAttackBonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alignment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alignment)
        </dd>
    </dl>
    
    <form asp-action="RemoveChar">
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-action="Edit">Back to Campaign</a>
    </form>
</div>
